doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Express Store
      nav
        a(href='/') Home
        a(href='/products') Products
    main
      block content
    footer
      p &copy; 2024 Express Store. All rights reserved.